.ct-form-geonames.container {
	max-width: 90%; 
	width: 900px;
	font-family: var(--bs-body-font-family);
	transition: all .5s;
	font-size: 16px;
}
.ct-form-geonames:hover {
	transform: scale(1.03);
}
.ct-form-geonames h2 {
	font-size: 2em;
	font-family: var(--bs-body-font-family)!important;
}
.ct-form-geonames .form-control,
.ct-form-geonames .form-control:focus,
.ct-form-geonames .form-select:focus {
	background-color: #fff;
}
.ct-form-geonames .form-control,
.ct-form-geonames .form-select {
	font-size: 1em;
	font-family: var(--bs-body-font-family);
	border: 1px solid #ced4da;
}
.ct-form-geonames .form-floating > .form-control, 
.ct-form-geonames .form-floating > .form-select {
	height: calc(3.5em + 2px);
	line-height: 1.25;
}
.ct-form-geonames textarea {
	height: 130px!important;
	resize: none;
	overflow: hidden;
}
.ct-form-geonames button[type="submit"] {
	font-size: 1.25em;
	font-family: var(--bs-body-font-family);
	padding: 1em 3em!important;
	color: #212529!important;
	background-color: transparent!important;
}
.ct-form-geonames button[type="submit"]:hover {
	color: #fff!important;
	background-color: #212529!important;
}